.custom-pre {
  .pre-mac {
    @apply text-center -mb-3 rounded-tl rounded-tr bg-slate-600 px-4 pt-2 pb-3 font-mono text-sm text-gray-200 relative flex items-center;

    & > span {
      @apply w-3 h-3 mx-1 block rounded-full;
    }

    & > span:nth-child(1) {
      background: red;
    }
    & > span:nth-child(2) {
      background: sandybrown;
    }
    & > span:nth-child(3) {
      background: limegreen;
    }
  }
}
